<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ajdt.launching.AspectJApplication">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="avec_aspects.Compteur"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TP1_aspect"/>
</launchConfiguration>
